<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ateam.mannajob">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MannajobAndroid"
        android:usesCleartextTraffic="true">
        <activity android:name=".PopFindID"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".match.PopReviewView"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".JoinAgree" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".mypage.PopCancelChk"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".mypage.Popcalendar"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".match.PopCompl"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".mypage.PopReview"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".FindPasswdInput"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".FindPasswdReset"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".match.PopOkMatching"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".match.PopRequestMatch"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".mypage.PopPasswdCheck"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".mypage.UpdateProfile" />
        <activity android:name=".Join" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>